@import 'scss/settings/_variables.scss';
@import 'scss/elements/_buttons.scss';
@import 'scss/settings/_mixins.scss';
@import 'scss/elements/_base.scss';


.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;

  &__content {
    margin-top: 130px;
    text-align: center;

    @include mobile {
      margin-top: 100px;
    }
  }

  &__title {
    font-family: $font-raleway;
    font-size: 4rem;
  }

  &__text {
    margin-top: 20px;
    margin-bottom: 38px;
    //font-family: $font-open-sans;
    //font-weight: normal;
    //font-size: 1.5rem;
    //text-align: center;
    @include mobile {
      padding: 0 70px;
    }
  }

  img {
    width: 100%;
    height: auto;

    @include mobile {
      width: 220%;
      transform: translateX(-28%);
    }
  }

  @include mobile {
    .btn {
      margin: 0 15px;
      padding: 16px 0;
      display: block;
    }
  }
}