@import 'scss/settings/_variables.scss';

.btn {
  border-radius: 35px;
  border: none;
  font-weight: bold;
  padding: 22px 70px;
  text-decoration: none;
  color: white;

&--primary {
  background-color: $color-primary;
  box-shadow: 3px 10px 14px $color-shadow;
}

&--redish {
  background-color: $color-redish;
}

&--green {
  background-color: $color-green;
}

&--large {
  padding: 22px 155px;
}
}


