@import 'scss/elements/_base.scss';
@import 'scss/settings/_variables.scss';
@import 'scss/settings/_mixins.scss';
@import 'scss/elements/_buttons.scss';



//.form_details {
//  width: 50%;
//}

.form {
  display: flex;
  flex-direction: column;

  @include tablet {
    margin-top: 20px;
  }

  &__field {
    display: flex;
    flex-direction: column;

    &:first-of-type {
      margin-bottom: 42px;
    }

    .form__label {
      color: $color-primary;
      font-size: 0.6875rem;
      font-weight: bold;
      letter-spacing: 3px;
      line-height: 0.9rem;
      text-transform: uppercase;
    }

    &__input {
      line-height: 2rem;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $color-grey;
    }
  }

  &__box {
    margin-top: 30px;

    &__label {
      cursor: pointer;
      display: block;
      font-size: 1rem;
      margin-bottom: 15px;
      padding-left: 35px;
      position: relative;
    }

    &__input {
      cursor: pointer;
      height: 0;
      width: 0;
      border: 1px solid $color-grey;
      position: absolute;

      &:checked {
        ~ .checkbox {
          background-image: url(../images/Checkmark-1.svg);
          background-position: center;
          background-size: 50%;
          background-repeat: no-repeat;
          color: $color-primary;
        }
      }
    }

    .checkbox__label span {
      background-color: $color-white;
      border: 1px solid $color-grey;
      border-radius: 5px;
      height: 25px;
      width: 25px;
      left: 0;
      top: 0;
      position: absolute;
    }

    .checkbox__text {
      color: $color-grey;
      font-size: 1rem;
      line-height: 17px;
      margin: 0 10px;
    }
  }

  .btn {
    align-self: flex-end;
    font-size: 1rem;
    margin-top: 20px;
    padding: 20px 97px;
    background-color: $color-primary;
    color: white;
    box-shadow: 5px 10px 14px $color-shadow;
  }
}

