@import 'scss/elements/_base.scss';
@import 'scss/settings/_variables.scss';
@import 'scss/elements/_buttons.scss';
@import 'scss/settings/_mixins.scss';


.informations {
  margin-top: 100px;

  @include mobile {
    margin-top: 50px;
  }

  &__title {
    text-align: center;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 100px auto 120px;

    @include mobile {
      margin: 35px auto 50px;
      align-items: center;
      flex-direction: column;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    font-family: $font-raleway;
    justify-content: flex-start;
    align-items: center;
    max-width: 160px;
    text-align: center;

    @include mobile {
      margin-bottom: 35px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:nth-child(1) {
      .circle-first {
        background-color: $color-redish;
      }
      .informations__img {
        top: 0;
        left: 45%;
      }
    }
    &:nth-child(2) {
      .circle-second {
        background-color: $color-primary;
      }
      .informations__img {
        top: 14px;
        left: 47%;
      }
    }
    &:nth-child(3) {
      .circle-third {
        background-color: $color-green;
      }
      .informations__img {
        top: 6px;
        left: 50%;
      }
    }
  }

  &circle {
    border-radius: 50%;
    height: 63px;
    width: 63px;
    position: relative;
  }

  &img {
    position: absolute;
  }
  &__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: .1875rem;
    margin-top: 13px;
  }
  &__description {
    color: $color-grey;
    margin-top: 19px;
  }
}
